<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="ECD_DatabaseConnection" connectionString="Data Source=10.18.1.6,14839;Initial Catalog=ITInventory;User ID=minhdv;Password=Minh@2025!;TrustServerCertificate=True;"
		 providerName="System.Data.SqlClient" />
		<add name="ECD.Properties.Settings.ITInventoryConnectionString"
		 connectionString="Data Source=10.18.1.6,14839;Initial Catalog=ITInventory;User ID=minhdv;Password=Minh@2025!;TrustServerCertificate=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>